#profile {
  font-family: helvetica;
  width: 900px;
  height: 585px;
  background-color: white;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -290px;
  position: absolute;
  border-radius: 3px; }

#profile #profile_titles #designs {
  border-top: solid 5px #d66075; }
#profile #profile_titles #info, #profile #profile_titles #settings, #profile #profile_titles #status {
  background-color: #f4f4f4;
  border-top: solid 5px transparent; }
#profile #profile_titles .col-md-3 {
  cursor: pointer;
  color: #5e5e5e;
  text-align: center;
  font-size: larger;
  line-height: 45px; }
#profile #designs_context #design_last_new {
  background-color: #f4f4f4;
  width: 850px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  border: solid 1px #e5e5e5;
  border-radius: 10px; }
#profile #designs_context #design_last_new .col-md-6 {
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: larger;
  color: #5e5e5e;
  cursor: pointer; }
#profile #designs_context #design_last_new .col-md-6:hover {
  background-color: #e8e8e8; }
#profile #designs_context #design_history_title {
  color: #5e5e5e;
  text-align: center;
  font-size: x-large;
  line-height: 45px; }
#profile #designs_context #design_history {
  background: #f4f4f4;
  width: 850px;
  height: 70px;
  margin: auto;
  margin-top: 3px;
  border: solid 1px #e5e5e5;
  border-radius: 10px; }
#profile #designs_context #design_history #design_open_button {
  cursor: pointer;
  margin: auto;
  background-color: #d65f75;
  width: 100px;
  margin-top: 18px;
  height: 30px;
  text-align: center;
  font-size: small;
  line-height: 30px;
  color: #ffffff;
  border-radius: 3px; }
#profile #designs_context #design_history #design_open_button:hover {
  background-color: #dc7878; }
#profile #designs_context #design_history .col-md-10 {
  color: #5e5e5e;
  text-align: center;
  font-size: larger;
  line-height: 25px; }
#profile #designs_context #design_history .col-md-10 #designs_history_title {
  font-weight: bold;
  margin-top: 8px; }
#profile #designs_context .designs_context_pages {
  float: left;
  color: #5e5e5e;
  text-align: center;
  font-size: larger;
  line-height: 25px;
  margin: auto;
  width: 100%;
  margin-top: 10px; }
  #profile #designs_context .designs_context_pages a, #profile #designs_context .designs_context_pages a:visited {
    text-decoration: none;
    color: #5e5e5e;
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px #e5e5e5; }
  #profile #designs_context .designs_context_pages a:hover {
    background-color: #d65f75;
    color: #f4f4f4; }
#profile #info_context {
  margin-top: 45px; }
  #profile #info_context .col-md-6 {
    color: #5e5e5e;
    font-weight: bold; }
  #profile #info_context .info_form_group {
    background-color: #f4f4f4;
    border: solid 1px #e5e5e5;
    margin-left: 2px;
    height: 40px;
    margin-top: 9px;
    width: 340px;
    border-radius: 10px;
    margin-bottom: 26px; }
    #profile #info_context .info_form_group i {
      margin-left: 10px;
      color: #5e5e5e;
      font-size: initial;
      margin-top: 11px; }
    #profile #info_context .info_form_group input {
      width: 300px;
      font-size: large;
      padding-left: 5px; }
  #profile #info_context .info_buttons {
    cursor: pointer;
    margin: auto;
    background-color: #d65f75;
    margin-top: 18px;
    height: 30px;
    text-align: center;
    font-size: small;
    line-height: 30px;
    color: #ffffff;
    border-radius: 3px; }
  #profile #info_context .info_buttons:hover {
    background-color: #dc7878; }
#profile #settings_context {
  margin-top: 45px; }
  #profile #settings_context .col-md-4 {
    color: #5e5e5e;
    font-weight: bold; }
  #profile #settings_context .settings_form_group {
    background-color: #f4f4f4;
    border: solid 1px #e5e5e5;
    margin-left: 2px;
    height: 40px;
    margin-top: 9px;
    border-radius: 10px;
    margin-bottom: 26px; }
    #profile #settings_context .settings_form_group i {
      margin-left: 10px;
      color: #5e5e5e;
      font-size: initial;
      margin-top: 11px; }
    #profile #settings_context .settings_form_group input {
      width: 300px;
      font-size: large;
      padding-left: 5px; }
  #profile #settings_context #change_password_button {
    cursor: pointer;
    margin: auto;
    background-color: #d65f75;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: small;
    line-height: 30px;
    color: #ffffff;
    border-radius: 3px; }
  #profile #settings_context #change_password_button:hover {
    background-color: #dc7878; }

/*# sourceMappingURL=profileUser.css.map */
